
html {
    font-size: 62.5%; // 1rem is 10px
    margin: 0px;
    padding: 0;
    font-family: 'Jost', sans-serif; 
   

  }
  body {
      margin: 0;
  }
  .app {
    display: grid;
    justify-items: center;
    background-color: #e6cfb7;
    
    // color: #953423;
    // color: #e8ac6a;
    // color: #e6cfb7;
    // color: #f7f0de;
  }