.btn {
    background-color: #e8ac6a;
    border: none;
    font-family: 'Jost', sans-serif; 
    font-size: 20px;
    font-weight: 700;

    width: auto;
    padding: 10px;
    border-radius: 5px;

}