.calender-wrapper{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    margin: 10px;
    padding: 10px;
 

    .day-of-week{
        font-size: 40px;
        font-weight: 575;
        margin: 5px;
    }

    .calender-box{
        
        min-width: 250px;
        height: 147px;
       border: 1px solid black;
       display: flex;
       flex-direction: column;
       

    
       &:hover {
           background-color: #e8ac6a;
           
       }


        .text-input{
            background-color:#f7f0de ;
            font-size: 16px;
            font-weight: 600;
            padding:2px;
            border: none;
            height: 125px;
            font-family: 'Jost', sans-serif; 
            resize: none;

            &:focus {
                outline: none;
            }


        }
        .date {
            font-size: 25px;
            padding-left: 5px;
            border-bottom: 3px solid black;
        }
       
    }
    .overflow {
        opacity: .5;

        &:hover {
            background-color: #e6cfb7;
            font-weight: 100;
  
        }
       }


}