.calender-wrapper{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    width: auto;
    height: 60vh;
    margin: 10px;
    padding: 10px;

    .day-of-week{
        font-size: 40px;
        font-weight: 575;
    }

    .calender-box{
        width: auto;
        height: 150px;
       border: 1px solid black;
       display: flex;
       flex-direction: column;
    
       &:hover {
           background-color: #e8ac6a;
           font-weight: 1000;
       }
       
        .text-input{
            background-color:#f7f0de ;
            font-size: 14px;
            font-weight: 500;
            padding:2px;

        }
        .date {
            font-size: 25px;
            padding-left: 5px;
            border-bottom: 3px solid black;
        }
    }

}