.header-wrapper{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    
    padding: 7px;
    background-color: #953423;
    
    
    .month-text {
        font-family: 'Jost', sans-serif; 
        font-size: 40px;
        font-weight: 1000;
        padding: 7px;
    
    }

}
